<footer>
  <div class="footer-one">
    <div class="logo">
      <img src="../../assets/footer/footer-logo.PNG" alt="image" />
      <p>
        Nam auctor dapibus ante vel facilisis. Cras eget adicing nisi. Duis
        aliquet ligula non risubgad ollicitudin modo. Donec ullamcorper lacinia
        turpis <a href="#"> at aliquet</a>
      </p>
    </div>
    <div class="form">
      <h3>Sign Up for Newsletter</h3>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="text" placeholder="@Twitter" />
      <button>Sign Up</button>
    </div>
    <div class="follow-icons">
      <h3>Follow us</h3>
      <div class="icons">
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-github-square"></i>
      </div>
      <p>
        Nam auctor dapibus ante vel facilisis. Cras eget adicing nisi.
        Ullamcorper lacinia turpis <a href="#">at aliquet</a>
      </p>
    </div>
  </div>
</footer>
