<div class="fluid-container-header">
  <div class="container">
    <div class="header">
      <app-header></app-header>
    </div>
  </div>
</div>
<div class="container">
  <!--main-content-->
  <div class="main-content fix">
    <!--main-content-left-->
    <div class="main-content-left">
      <app-main-content-left></app-main-content-left>
    </div>
    <!--main-content-right-->
    <div class="main-content-right">
      <app-main-content-right></app-main-content-right>
    </div>
  </div>
</div>
<!--footer-->
<div class="fluid-container-footer">
  <div class="container">
    <app-footer></app-footer>
  </div>
  <div class="footer-two fluid-container-footer-two">
    <div class="container">
      <p class="terms">Terms & Service Privacy</p>
      <p class="copyright">© Privacore, 2015. All rights reserved</p>
    </div>
  </div>
</div>
