<div class="categoress">
  <h3>Categories</h3>
  <ul>
    <li><a href="#"> Webdesign</a></li>
    <li><a href="#"> Prototyping</a></li>
    <li><a href="#"> App Design</a></li>
    <li><a href="#"> Webdevelopment</a></li>
    <li><a href="#"> WordPress themes</a></li>
    <li><a href="#"> Development</a></li>
  </ul>
</div>
<div class="popular-post">
  <h3>Popular Posts</h3>
  <img
    src="../../assets/main-right/ps image.jpg"
    width="360px"
    height="220px"
    alt=""
  />
  <p>
    Quisque cursus justo purus, nec tristique <br />
    libero sagittis lobortis.
  </p>
  <div class="date-user">
    <i class="fa fa-calendar-o"><span>28 June 2015</span></i>
    <i class="fa fa-user"><span> Marti Queen </span></i>
    <i class="fa fa-comment"><span>16</span></i>
  </div>

  <img
    src="../../assets/main-right/ps image2.JPG"
    width="360px"
    height="220px"
    alt=""
  />
  <p>
    Quisque cursus justo purus, nec tristique <br />
    libero sagittis lobortis.
  </p>
  <div class="date-user">
    <i class="fa fa-calendar-o"><span>28 June 2015</span></i>
    <i class="fa fa-user"><span> Marti Queen </span></i>
    <i class="fa fa-comment"><span>16</span></i>
  </div>
</div>

<div class="text">
  <h3>Text Widget</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in
    lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est.
    Nunc eu sodales turpis, varius viverra mauris.
  </p>
</div>
<div class="offers">
  <h3>Offers</h3>
  <img
    src="../../assets/main-right/offer image.JPG"
    height="420px"
    alt="image"
  />
</div>
<div class="tags">
  <h3>Tags</h3>
  <div class="buttons">
    <ul>
      <li><a href="#">app</a></li>
      <li><a href="#">apple</a></li>
      <li><a href="#">black</a></li>
      <li><a href="#">blue</a></li>
      <li><a href="#">button</a></li>
      <li><a href="#">calender</a></li>
      <li><a href="#">clean</a></li>
      <li><a href="#">dark</a></li>

      <li><a href="#">dropdown</a></li>
      <li><a href="#">flat</a></li>
      <li><a href="#">form</a></li>
      <li><a href="#">free</a></li>
    </ul>
  </div>
</div>
<div class="tweets">
  <h3>Latest Tweets</h3>
  <div class="logo-date fix">
    <div class="logo">
      <img src="../../assets/main-right/logo.PNG" alt="image" />
      <div>
        <h6>Privacore</h6>
        <p>@privacore_news</p>
      </div>
    </div>
    <p class="date">08 October 2014</p>
  </div>
  <p class="bottom-para">
    My working day's started with <a href="#">@dribbble</a> interview. So
    excited to get into #dribbble Timeout + workplace shot for it.
  </p>
  <div class="share-icons">
    <i class="fa fa-reply"></i>
    <i class="fa fa-retweet"></i>

    <i class="fa fa-star"></i>
  </div>

  <div class="logo-date fix second">
    <div class="logo">
      <img src="../../assets/main-right/logo.PNG" alt="image" />
      <div>
        <h6>Privacore</h6>
        <p>@privacore_news</p>
      </div>
    </div>
    <p class="date">08 October 2014</p>
  </div>
  <p class="bottom-para">
    My working day's started with <a href="#">@dribbble</a> interview. So
    excited to get into #dribbble Timeout + workplace shot for it.
  </p>
  <div class="share-icons">
    <i class="fa fa-reply"></i>
    <i class="fa fa-retweet"></i>

    <i class="fa fa-star"></i>
  </div>
</div>
<div class="fb-community">
  <h3>Join Our Facebook Community</h3>
  <div class="fb-conatiner">
    <div class="head">
      <img src="../../assets/main-right/logo.PNG" alt="image" />
      <div class="like">
        <p>Privacore</p>
        <i class="fa fa-thumbs-o-up"><span> Like!</span></i>
      </div>
    </div>
    <p class="like-para">
      You and 52 478 other people like <a href="#">Atech Ltd.</a>
    </p>
    <div class="f-images">
      <img src="../../assets/main-right/f-1.JPG" alt="image" />
      <img src="../../assets/main-right/f-2.jpg" alt="image" />
      <img src="../../assets/main-right/f-3.jpg" alt="image" />
      <img src="../../assets/main-right/f-16.JPG" alt="image" />
      <img src="../../assets/main-right/f-5.JPG" alt="image" />
      <img src="../../assets/main-right/f-7.jpg" alt="image" />
      <img src="../../assets/main-right/f-6.jpg" alt="image" />
      <img src="../../assets/main-right/f-8.jpg" alt="image" />
      <img src="../../assets/main-right/f-15.JPG" alt="image" />
      <img src="../../assets/main-right/f-10.jpg" alt="image" />
      <img src="../../assets/main-right/f-11.jpg" alt="image" />
      <img src="../../assets/main-right/f-12.jpg" alt="image" />
      <img src="../../assets/main-right/f-13.JPG" alt="image" />
      <img src="../../assets/main-right/f-14.jpg" alt="image" />
      <img src="../../assets/main-right/f-9.jpg" alt="image" />
      <img src="../../assets/main-right/f-4.jpg" alt="image" />
      <img src="../../assets/main-right/f-17.JPG" alt="image" />
      <img src="../../assets/main-right/f-18.jpg" alt="image" />
    </div>
  </div>
</div>
<div class="feeds">
  <h3>Flickr Feed</h3>
  <div class="ff-images">
    <img src="../../assets/main-right/ff-1.jpg" alt="image" />
    <img src="../../assets/main-right/ff-2.JPG" alt="image" />
    <img src="../../assets/main-right/ff-3.jpg" alt="image" />
    <img src="../../assets/main-right/ff-4.JPG" alt="image" />
    <img src="../../assets/main-right/ff-5.JPG" alt="image" />
    <img src="../../assets/main-right/ff-6.JPG" alt="image" />
    <img src="../../assets/main-right/ff-7.JPG" alt="image" />
    <img src="../../assets/main-right/ff-8.JPG" alt="image" />
    <img src="../../assets/main-right/ff-9.JPG" alt="image" />
    <img src="../../assets/main-right/ff-10.jpg" alt="image" />
    <img src="../../assets/main-right/ff-11.jpg" alt="image" />
    <img src="../../assets/main-right/ff-12.JPG" alt="image" />
    <img src="../../assets/main-right/ff-13.jpg" alt="image" />
    <img src="../../assets/main-right/ff-14.JPG" alt="image" />
    <img src="../../assets/main-right/ff-15.JPG" alt="image" />
  </div>
</div>
