<div class="heading-one">
  <h1>Apple's LuxVue Acquisition Could Be the Biggest iWatch Hint Yet (H1)</h1>
  <div class="date-user">
    <i class="fa fa-calendar-o"><span>28 June 2015</span></i>
    <i class="fa fa-user"><span> Marti Queen </span></i>
    <i class="fa fa-comment"><span>16</span></i>
  </div>
  <div class="share-icons">
    <img src="../../assets/main-left/g+.jpg" alt="google+" />
    <img src="../../assets/main-left/fb.jpg" alt="facebook" />
    <img src="../../assets/main-left/in.jpg" alt="linkedin" />
    <img src="../../assets/main-left/tw.jpg" alt="twitter" />
  </div>
  <div class="h1-image">
    <img
      src="../../assets/main-left/h1 iamge.jpg"
      alt="image"
      width="730px"
      height="398px"
    />
  </div>
  <p class="para-h1">
    Apple's reported acquisition of LuxVue, a developer of micro-LED displays,
    attracted much attention — not for the <a href="#">purchase price</a> (which
    remains undisclosed), but rather what it could mean for the Cupertino,
    Calif. company's "new category" of product,
    <a href="#">frequently mentioned</a> by CEO Tim Cook in recent months.
  </p>
</div>
<div class="heading-two">
  <h2>Proin accumsan diam vel nulla ultrices congue. (H2)</h2>
  <div class="heading-two-content">
    <img src="../../assets/main-left/quote.png" alt="image" />
    <p class="p-one">
      Anybody can become angry - that is easy, but to be angry with the right
      person and to the right degree and at the right time and for the right
      purpose, and in the right way - that is not within everybody's power and
      is not easy.
    </p>
    <p class="p-two">- Aristotle</p>
  </div>
</div>
<div class="heading-three">
  <h3>Morbi congue augue non arcu hendrerit (H3)</h3>
  <p>
    Apple's reported acquisition of LuxVue, a developer of micro-LED displays,
    attracted much attention — not for the purchase price (which remains
    undisclosed), but rather what it could mean for the Cupertino, Calif.
    company's <strong>New category</strong> of product, frequently mentioned by
    CEO Tim Cook in recent months.
  </p>
</div>
<div class="heading-five">
  <h5>
    Cras nec nunc nisl. Praesent venenatis interdum ipsum non sollicitudin. (H5)
  </h5>
  <div class="heading-five-content fix">
    <p>
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste
      natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
      beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
      voluptas sit aspernatur.
    </p>
    <div>
      <img
        src="../../assets/main-left/h5 image.JPG"
        width="360px"
        height="230px"
        alt="image"
      />
    </div>
  </div>
</div>
<div class="heading-six fix">
  <div class="u-list">
    <h6>Non Ordered List (H6):</h6>
    <ul>
      <li>Consectetur adipisicing elit</li>
      <li>Sed do eiusmod tempor</li>
      <li>Incididunt ut labore et dolore</li>
      <li>Magna aliqua ut enim ad minim</li>
      <li>Veniam quis nostrud exercitation</li>
      <li>Ullamco laboris nisi ut aliquip</li>
      <li>Commodo consequat duis aute</li>
      <li>Irure dolor in reprehenderit</li>
    </ul>
  </div>
  <div class="o-list">
    <h6>Ordered List (H6):</h6>
    <ol>
      <li>Consectetur adipisicing elit</li>
      <li>Sed do eiusmod tempor</li>
      <li>Incididunt ut labore et dolore</li>
      <li>Magna aliqua ut enim ad minim</li>
      <li>Veniam quis nostrud exercitation</li>
      <li>Ullamco laboris nisi ut aliquip</li>
      <li>Commodo consequat duis aute</li>
      <li>Irure dolor in reprehenderit</li>
    </ol>
  </div>
</div>
<div class="headig-four">
  <h4>
    Quisque cursus justo purus, nec tristique libero sagittis lobortis. (H4)
  </h4>
  <p class="para-one">
    Apple's reported acquisition of LuxVue, a developer of micro-LED displays,
    attracted much attention — not for the purchase price (which remains
    undisclosed), but rather what it could mean for the Cupertino, Calif.
    company's "new category" of product, frequently mentioned by CEO Tim Cook in
    recent months.
  </p>
  <div class="fix">
    <div class="heading-four-img-para">
      <div class="img-h4">
        <img
          src="../../assets/main-left/h4image.jpg"
          alt="image"
          width="360px"
          height="230px"
        />
      </div>
      <div class="zoom">
        <img src="../../assets/main-left/zoom.png" alt="image" />
      </div>
    </div>
    <p class="para-two">
      Apple's reported acquisition of LuxVue, a developer of micro-LED displays,
      attracted much attention — not for the purchase price (which remains
      undisclosed), but rather what it could mean for the Cupertino, Calif.
      company's "new category" of product, frequently mentioned by CEO Tim Cook
      in recent months.
    </p>
  </div>
  <p class="para-three">
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur.
  </p>

  <h6 class="s-post">Similar Posts</h6>
  <div class="post-container">
    <div>
      <img src="../../assets/main-left/s-pic-one.JPG" alt="" />
      <p>Quisque cursus justo purus cue libero sagittis lobortis.</p>
      <i class="fa fa-calendar-o"><span>28 June 2015</span></i>
    </div>
    <div>
      <img src="../../assets/main-left/s-pic-two.JPG" alt="" />
      <p>Quisque cursus justo purus cue libero sagittis lobortis.</p>
      <i class="fa fa-calendar-o"><span>28 June 2015</span></i>
    </div>
    <div>
      <img src="../../assets/main-left/s-pic-three.jpg" alt="" />
      <p>Quisque cursus justo purus cue libero sagittis lobortis.</p>
      <i class="fa fa-calendar-o"><span>28 June 2015</span></i>
    </div>
  </div>
</div>
